<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Todo App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="bg-purple-300">
    <div class="block text-white font-bold">
        <h1 class="text-center">Todo App</h1>
    </div>
    <form class="flex justify-evenly" method="post">
        <input class="flex justify-center rounded bg-purple-500 text-white" type="text" placeholder="Write your task here">
    </form>
</body>
</html>