{% load static %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Todo App</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'output\styles.css' %}">
    {% endcompress %}
</head>
<body class="bg-purple-300 relative">
    <div class="block text-white font-bold">
        <h1 class="text-center my-5 text-4xl font-bold">Todo App</h1>
    </div>

    {% block content %}

    {% endblock %}
    
    <footer class="absolute bottom-0 right-full">
        <p>&copy;2024. DevX&trade;</p>
    </footer>
</body>
</html>